<!doctype html>
<html>
	<head>
		<title>{{puzzle.name}}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<h1><a href="{{url_for("puzzle_list")}}">CPC Simulator 2016</a> / {{puzzle.name}}</h1>
		<p><a href="{{ url_for('static', filename=puzzle.link)}}">{{puzzle.name}} (.pdf)</a></p>
		<form method="POST" action="">
			{{ form.csrf_token }}
			{{ form.guess.label }}
			{{ form.guess(size=20)}}
			{% for error in form.guess.errors %}
				<div class="form-error">{{ error }}</div>
			{% endfor %}
			<button type="submit">Submit Guess</button>
		</form>
		<table>
			<thead>
				<tr>
					<th>Guess</th>
					<th>Timestamp</th>
					<th>Correct?</th>
				</tr>
			</thead>
			<tbody>
				{% for guess in guesses %}
				<tr>
					<td>{{guess.guess}}</td>
					<td>{{guess.timestamp}}</td>
					<td>{{guess.correct}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
